
.mainfeed{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(123, 157, 250);
    width: 510px;
    box-shadow: 10px 5px 5px rgb(118, 188, 253);
    top: 60px;
    position: relative;
    margin: auto;
    
    
}
.tittle{
    width: 515px;

}
.text{
    width: 515px;
}

.btnfeed{
    height: 50px;
   left: 59%;
    margin: auto;
    display: flex;
   top: 22px;
    
    position: relative;
}

.notes{
    
    left: 5px;
     top: 40px;
    margin: 36px;
    width: 300px;
    height: 100px;
    border: 2px solid rgb(118, 188, 253);
    
    box-shadow: 10px 5px 5px rgb(118, 188, 253);
    color: black;
}
 .container1{
    display: inline-flex;
    flex-direction: row;
     top: 50px;
     position: relative;
     flex-direction: row;
     
     height: 200px;
 } 
h1{
    font-size: 20px;
    font-weight: bold;
}    

.h{
    height: 300px;
}
.btn{
   
    height: 40px;
    border: 2px solid red;
    border-radius: 50px;
    position: relative;
    left: 192px;
    top: 11px;

}

.navbar{
    background-color: rgb(118, 188, 253);
    box-shadow: 10px 5px 5px rgb(58, 70, 80);
    
}